<!DOCTYPE html>
<html lang="en">
<head>
	<title>Athena Shopping | A wise place to</title>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
</head>
	<body>
  <main class="container-fluid">
	<div id="headerImage" class="headerStyle">
		<h1><a href="/">ATHENA</a></h1>
		<i>a wise place to shop.</i>
	</div>

	<nav>
	    <div class="nav-wrapper #eceff1 blue-grey lighten-5">
	    	<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	      <ul>
			<li>
				<form class="col s12">
      <div class="row">
        <div class="input-field searchNav">
          <i class="material-icons prefix">search</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
        </div>
      </div>
    </form>

				{{!-- <form>
					<div class="input-field">
						<input id="search" placeholder="Search" type="search" required>
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons ">close</i>
					</div>
				</li>
				<li><button class="btn #7986cb indigo lighten-2">Search</button></li>
				</form> --}}
			</ul>
	      	<ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/"><i class="large material-icons left">home</i></a></li>
	        <li><a class="dropdown-trigger" data-target='dropdown1' href="#"><i class="large material-icons left">account_circle</i></a></li>
	      	<li><a class="modal-trigger" data-target="modal1" href="#"><i class="large material-icons left">shopping_cart</i></a></li>
	      </ul>
	    </div>
  	</nav>


{{!-- sideNav for nav bar --}}
<ul class="sidenav" id="mobile-demo">
    <li><a class="indigo-text text-lighten-2" href="/">Home</a></li>
	<li><a class="indigo-text text-lighten-2" href="#">Account</a></li>
	<li><a class="indigo-text text-lighten-2" href="/login">Log In</a></li>
	<li><a class="modal-trigger indigo-text text-lighten-2" data-target="modal1" href="#">Cart</a></li>


  </ul>

  <!-- Dropdown Structure FOR ACCOUNT ICON -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a class="indigo-text text-lighten-2" href="/login">Log In</a></li>
    <li><a class="indigo-text text-lighten-2" href="#!">Account</a></li>
    <li class="divider" tabindex="-1"></li>
  </ul>

{{{ body }}}

<footer class="page-footer #9e9e9e grey">
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            </div>
          </div>
</footer>






<!-- modals -->

<!-- cart modal -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Shopping Cart</h4>
      <p>Total:</p>
      <button class="btn #9fa8da indigo lighten-3">Proceed to Checkout</button>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close#9fa8da indigo lighten-3 waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="app.js"></script>
<script src="addItem.js"></script>
	</body>
</html>
