<section>
        <div class="container">
            <div class="card-panel z-depth-5" id="enterinfo">
                <h4 class="center">New Item</h4>
                <br><br>
                <form class="container col s6 center">
                    <div class="input-field">
                        <input id="itemName" type="text" class="validate">
                        <label for="itemName">Item name:</label>
                    </div>
                    <div class="input-field ">
                        <input id="itemDescription" type="text" class="validate">
                        <label for="itemDescription">Item description: </label>
                    </div>
                    <div class="input-field col s10 center-align">
                        <input id="price" type="number" class="validate">
                        <label for="price">Price:</label>
                    </div>
                    <div class="input-field col s10 center-align">
                        <input id="quantity" type="number" class="validate">
                        <label for="quantity">Quantity:</label>
                    </div>
                    <div class="input-field col s10 center-align">
                        <input id="itemPhoto" type="password" class="validate">
                        <label for="itemPhoto">Photo:</label>
                    </div>
                </form>
                <button class="btn indigo lighten-2 waves-effect waves-light" id="submit">Add Item
                    <i class="material-icons right"></i>
                </button>
            </div>
        </div>
    </section>