<section>
    <div class="container-fluid">
        <div class="row" id="itemsContainer"></div>


        {{!-- THIS IS AN EXAMPLE CARD THAT YOU GUYS CAN MESS WITH.
        JUST COMMENT OUT THE SCRIPT AT THE BOTTOM AND UNCOMMENT BETWEEN THE STARS
        AND CHANGE ANY STYLING YOU NEED TO.  SHOOT PETE A PING AND HE'LL MAKE THE 
        CHANGES IN THE JS TO MAKE IT HAPPEN ON ALL BLOCKS. --}}

        {{!-- ************************************************************************************* --}}


           {{!--  <div class="card medium hoverable col s3">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="http://www.google.com" target="_blank">
                        <img id="image" src="http://photos.costume-works.com/x3/taco_cat.jpg">
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <i class="material-icons right">more_vert</i>
                    </span>
                </div>
                <div class="card-reveal">
                    <span id="cardTitle" class="card-title grey-text text-darken-4">
                        Taco Cat
                        <i class="material-icons right">close</i>
                    </span>
                    <p id="itemDescription" class="indigo">Part taco, part cat, all fun!</p>
                    <h6>Price</h6>
                </div>
            </div> --}}
            

            {{!-- ************************************************************************************ --}}



            {{!--
            <div class="col s3">
                <div class="card medium hoverable">
                    <div class="card-image waves-effect waves-block waves-light">

                        <a href="http://www.google.com" target="_blank">
                            <img id="image" src="">
                        </a>

                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <i class="material-icons right">more_vert</i>
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span id="cardTitle" class="card-title grey-text text-darken-4">Card Title
                            <i class="material-icons right">close</i>
                        </span>
                        <p id="itemDescription" class="indigo">Item Description</p>
                        <h6>Price</h6>
                    </div>
                </div>
            </div> --}}
        </div>
        <script src="allItems.js"></script>
    </div>
</section>

