 <section>
        <div class="container">
            <div class="card-panel z-depth-1" id="enterinfo">
                <h4 class="center">New User</h4>
                <br><br>
                <form class="container col s6 center">
                    <div class="input-field">
                        <input id="customerName" type="text" class="validate">
                        <label for="customer_name">Name (first and Last):</label>
                    </div>
                     <div class="input-field ">
                        <input id="customerEmail" type="email" class="validate">
                        <label for="emailuser"> Email: </label>
                    </div>
                    <div class="input-field ">
                        <input id="customerUserName" type="text" class="validate">
                        <label for="username"> Username: </label>
                    </div>
                    <div class="input-field center-align">
                        <input id="customerPassword" type="password" data-rule-password="true" class="validate" required>
                        <label for="password">Password:</label>
                    </div>
                    <div class="input-field">
                        <input id="customerPasswordConfirm" type="password" data-rule-password="true" data-rule-equalTo="#password" class="validate" required><span id="password_message"></span>
                        <label for="password_confirm">Confirm Password:</label>
                    </div>
                    <div>
                        <button class="btn indigo lighten-2 waves-effect waves-light" id="submitUserInfo">Create User
                </button>

                </form>
                
            </div>
        </div>
    </section>

    <script src="addUser.js"></script>