
<section>
	<br>
	<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
 	</div>
    <div class="carousel-item white-text" href="#one!">
    	<img src="./assets/Stock_Photos/owen-spencer-490792-unsplash.jpg">
    </div>
    <div class="carousel-item white-text" href="#two!">
      <img src="./assets/Stock_Photos/oc-gonzalez-547887-unsplash.jpg">
    </div>
    <div class="carousel-item white-text" href="#three!">
      <img src="./assets/Stock_Photos/joshua-fuller-609239-unsplash.jpg">
    </div>
    <div class="carousel-item white-text" href="#four!">
      <img src="./assets/Stock_Photos/clark-street-mercantile-33931-unsplash.jpg">
    </div>
    <div class="carousel-item white-text" href="#five!">
      <img src="./assets/Stock_Photos/dhaval-parmar-531583-unsplash.jpg">
    </div>
        	<h2 class="carouselText">Featured Items</h2>

  </div>
</section>
<br>
<br>

<section id="card-section">
	<div class="row">
	    <div class="col s12 m6">
	      <div class="card large">
	        <div class="card-content">
	          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectivelyExercitation id ut reprehenderit deserunt id incididunt consectetur elit cillum elit non. Exercitation qui sint reprehenderit irure ut do esse anim labore ad dolore mollit duis nostrud ea sint velit dolor ex occaecat sint duis commodo ullamco..deserunt id incididunt consectetur elit cillum elit non. Exercitation qui sint reprehenderit irure ut do esse anim labore ad dolore mollit duis nostrud ea sint velit dolor ex occaecat sint duis commodo ullamco..sint velit dolor ex occaecat sint duis commodo ullamco..deserunt id incididunt consectetur elit cillum elit non. Exercitation qui sint reprehenderit irure ut do esse anim labore ad dolore mollit duis nostrud ea sint velit dolor ex occaecat sint duis commodo ullamco.sint velit dolor ex occaecat sint duis commodo ullamco..deserunt id incididunt consectetur elit cillum elit non. Exercitation qui sint reprehenderit irure ut do esse anim labore ad dolore mollit duis nostrud ea sint velit dolor ex occaecat sint duis commodo ullamco.
	          elit non. Exercitation qui sint reprehenderit irure ut do esse anim labore ad dolore mollit duis nostrud ea sint velit dolor ex occaecat sint duis commodo ullamco.sint velit dolor ex occaecat sint duis commodo ullamco..deserunt id incididunt consectetur elit cillum elit non. Exercitation qui sint reprehenderit irure ut do esse anim labore ad dolore mollit duis nostrud ea sint velit dolor ex occaecat sint duis commodo ullamco.</p>
	        </div>
	      </div>
	    </div>

	    <div class="col s12 m6">
	      <div class="card">
	        <div class="card-image">
	          <img src="./assets/Stock_Photos/benjamin-hung-340383-unsplash.jpg">
	          <span class="card-title">Discover one of kind items from around the world</span>
	          <a class="#9fa8da indigo lighten-3 btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
	        </div>
	      </div>
	    </div>
	    <div class="col s12 m6">
	      <div class="card">
	        <div class="card-image">
	          <img src="./assets/Stock_Photos//angelina-litvin-32201-unsplash.jpg">
	          <span class="card-title">Perfect Gifts for under $100</span>
	          <a class=" #9fa8da indigo lighten-3 btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
	        </div>
	      </div>
	    </div>
  </div>
</section>