
<section>
{{!-- 	<h2 class="carouselText">Featured Items</h2>
 --}}	<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
{{!--     		   <h2 class="carouselText">Featured Items</h2>
 --}}
 	</div>
    <div class="carousel-item white-text" href="/checkout">
    	<img src="./assets/Stock_Photos/owen-spencer-490792-unsplash.jpg">
    </div>
    <div class="carousel-item white-text" href="#two!">
      <img src="./assets/Stock_Photos/oc-gonzalez-547887-unsplash.jpg">
    </div>
    <div class="carousel-item white-text" href="#three!">
      <img src="./assets/Stock_Photos/joshua-fuller-609239-unsplash.jpg">
    </div>
    <div class="carousel-item white-text" href="#four!">
      <img src="./assets/Stock_Photos/clark-street-mercantile-33931-unsplash.jpg">
    </div>
    <div class="carousel-item white-text" href="#five!">
      <img src="./assets/Stock_Photos/dhaval-parmar-531583-unsplash.jpg">
    </div>
{{!--    <h2 class="carouselText">Featured Items</h2>
 --}}
  </div>
</section>
<br>
<br>

<section id="card-section">
	<div class="row">
	    <div class="col s12 m6">
	      <div class="card large">
	        <div class="card-content">
	          <h5 class="center-align">
				<p>Unique everything</p>
				<p>We have millions of one-of-a-kind items, so you can find whatever you need (or really, really want).</p>
				<br>
	          	<p>Secure shopping</p>
				<p>We use best-in-class technology to protect your transactions.</p>
				<br>
				<p>People make Athena possible. We provide a meaningful space for sellers to turn their creative passions into opportunity. We enable buyers to discover unique items made with care. And we treat our employees and our community with respect. We’re here because the world needs less of the same and more of the special.</p>
	         </h5>
	        </div>
	      </div>
	    </div>

	    <div class="col s12 m6">
	      <div class="card">
	        <div class="card-image">
	          <img src="./assets/Stock_Photos/benjamin-hung-340383-unsplash.jpg">
	          <span class="card-title index">Discover one of kind items from around the world</span>
	          <a class="#9fa8da indigo lighten-3 btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
	        </div>
	      </div>
	    </div>
	    <div class="col s12 m6">
	      <div class="card">
	        <div class="card-image">
	          <img src="./assets/Stock_Photos//angelina-litvin-32201-unsplash.jpg">
	          <span class="card-title index">Perfect Gifts for under $100</span>
	          <a class=" #9fa8da indigo lighten-3 btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
	        </div>
	      </div>
	    </div>
  </div>
</section>