<section>
    <div class="container">
        <h2 class="center-align">item</h2>
        <div class="row">
            <div class="card-image col s6">
                <img class="card col s6" src="../assets/Stock_Photos/j-a-n-u-p-r-a-s-a-d-588940-unsplash.jpg">
            </div>
            
            <div class="container col s5">
                <h4 class="center-align">vendor</h4>
                <p class="flow-text">
                    item description
                </p>
                <h5 class="left">price</h5>
                <button id="addToCart">Add to Cart</button>
            </div>
        </div>
    </div>
</section>