

<section  >
  <div id="logInSection" class="container center-align z-depth-5">
      <h3>Log in</h3>
      <div class="row z-depth-1">
        <form class="col s12"  style="backgroud-color: white;" id="formLogin">
          <div class="input-field">
            <input type="email" id="email" class="validate" placeholder="Email">
            <label for="email" id="emailText"></label>
          </div>

          <div class="input-field">
            <input type="password" id="password" class="validate" placeholder="Password">
            <label for="password" id="pwText"></label>
          </div>

          <br>

          <div class="row">
            <div class="col s12">



              <button class="#7986cb indigo lighten-2 btn col s12" id="submit">Log In</button>

            </div>
          </div>
        </form>

      </div>

      <div class="row">
        <div class="col s12">
          <button class="#7986cb indigo lighten-2 btn btn-small"><a href="/createUser">If new user, create account</a></button>
        </div>
      </div>

</div>

      <script src="login.js"></script>

    </section>
