<div class="section">
    <div class="container">
        <div>
        <h2 class="center-align" id="userTitle">User</h2>
        </div>
        <div class="row">
            <div class="col s4">
                <div class="card-image">
                    <img id="userImage" src="" width="100%">
                </div>
            </div>
            <div class="col s4">
                <div class="card blue-grey lighten-4">
                    <div class="card-content">
                        <h5 id="name">Name: </h5>
                        <h6 id="username">Username:</h6>
                        <h6 id="address">Address:</h6>
                        <h6 id="email">Email:</h6>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card blue-grey lighten-4">
                    <div class="card-content">
                        {{!-- <h6 id="vendorName">--vendor-- </h6> --}}
                        <h6 id="vendor">Items for sale: </h6>
                        <h6 id="revenue">Total revenue: </h6>
                        {{!-- <button class="btn indigo lighten-2 waves-effect waves-light" id="newVendor">Become Vendor
                            <i class="material-icons right"></i>
                        </button> --}}
                        <br>
                        <button class="btn indigo lighten-2 waves-effect waves-light" id="newItem"><a class="modal-trigger" data-target="modal2" href="#">New Item</a>
                            <i class="material-icons right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- MODAL --}}
<div id="modal2" class="modal">
    <div class="modal-content">

                <h4 class="center">New Item</h4>
                <br><br>
                <form class="container col s6 center">
                    <div class="input-field">
                        <input id="itemName" type="text" class="validate">
                        <label for="itemName">Item name:</label>
                    </div>
                    <div class="input-field">
                        <input id="itemDescription" type="text" class="validate">
                        <label for="itemDescription">Item description: </label>
                    </div>
                    <div class="input-field center-align">
                        <input id="price" type="text" class="validate">
                        <label for="price">Price:</label>
                    </div>
                    <div class="input-field center-align">
                        <input id="itemPhoto" type="password" class="validate">
                        <label for="itemPhoto">Photo:</label>
                    </div>
                </form>
                 <button class="btn indigo lighten-2 waves-effect waves-light" id="createUser">Add Item
                    <i class="material-icons right"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
    <script src="user.js"></script>
</div>