
/*log-in page*/
#logInSection {
	border-style: solid;
	border-width: 1px;
	width: 50%

}







/*footers*/
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      