/*Main Content for every page*/

h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 5.2rem;
    line-height: 32%;
    margin: 2.8rem 0 1.68rem 0;
    color: white;
    text-align: left;
    padding-left: 6%;
}

#headerImage {
    background-image: url(/assets/Stock_Photos/lars-663621-unsplash.jpg);
    padding-top: 1px;
    background-size: 154%;
    background-position: top left;
    background-position: bottom 8% right 99%;
}

.headerStyle {
  padding-bottom: 3%;
}

p {
	font-family: 'Josefin Sans', sans-serif;
}

i {
  padding-top: -10px;
  text-align: left;
  padding-left: 6.3%;
  color: white;
}

.input-field .col.s6 .searchNav {
  width: 40%;

}


input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea, input-field.searchNav {
    background-color: transparent;
    border: none;
    border-bottom: 0px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 32px;
    height: 56px;
    line-height: 56px;
}

nav {
 /* margin-top: 1%;*/
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.material-icons {
	color: #6e78a6;
}

.sidenav li>a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 36px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    margin-bottom: 6%;
}


/*footers*/
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.main {
    flex: 1 0 auto;
  }

  /*input fields*/

  /* label focus color */
.input-field input:focus + label
{
    color: #6e78a6 !important;
}
/* label underline focus color */
.row .input-field input:focus
{
    border-bottom: 1px solid #6e78a6 !important;
    box-shadow: 0 1px 0 0 #6e78a6 !important;
}
.input-field .prefix.active
{
    color: #6e78a6;
}
/* label color */
.input-field label
{
    color: #6e78a6;
}
/* label focus color */
.input-field input[type=text]:focus + label
{
    color: #6e78a6;
}
/* label underline focus color */
.input-field input[type=text]:focus
{
    border-bottom: 1px solid #6e78a6;
    box-shadow: 0 1px 0 0 #6e78a6;
}
/* valid color */
.input-field input[type=text].valid
{
    border-bottom: 1px solid #6e78a6;
    box-shadow: 0 1px 0 0 #6e78a6;
}
/* invalid color */
.input-field input[type=text].invalid
{
    border-bottom: 1px solid #6e78a6;
    box-shadow: 0 1px 0 0 #6e78a6;
}



/*HOMEPAGE*/


.carousel .carousel-slider {
	height: 407.656px;
}

#card-section {
  padding-top: 2%;
}

.carousel .carousel-item>img {
/*  width: 100%;
*/  /*    top: 7px;
  */    /*position: relative;*/
  /*    top: -86px;
  */}


  h2.carouselText {
/*    font-size: 3.56rem;
*/    line-height: 108%;
    margin: 2.3733333333rem 0 34.424rem 0;
    background-color: rgb(110, 120, 166);

  }

  h2 {
   /*  margin: 2.3733333333rem 0 34.424rem 0;
      background-color: rgb(110, 120, 166);*/

  }


  .carousel .carousel-item>img {
    width: 100%;
  }

  .card-title {
    text-shadow: 2px 2px 18px #000000;
  }






/*LOG-IN PAGE*/
#logInSection {
    border-radius: 1%;
    width: 50%;
    margin-top: 5%;
    padding: 2%;
    margin-bottom: 20%;
}

.carousel .carousel-slider {
	height: 407.656px;
}

#card-section {
  padding-top: 2%;
}


  /* search page */
.itemsCard {
  margin: 2%;
  background-color: #f5f5f5;
}

a:link .addInfo {
  color: #9fa8da; 
  background-color: transparent; 
  text-decoration: none;
}
a:visited {
  color: #6f79a8;
  background-color: transparent;
  text-decoration: none;
}


/*CHECKOUT PAGE*/


/*radio buttons*/
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #6e78a6;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #6e78a6;
}




