/*Main Content for every page*/



h1 {
	font-family: 'Nanum Gothic', sans-serif;
}

p {
	font-family: 'Josefin Sans', sans-serif;
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.material-icons {
	color: #6e78a6
}


/*footers*/
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /*index.html*/

  .carousel .carousel-item>img {
    width: 153%;
}


/*Home Page*/


.carousel .carousel-slider {
	height: 407.656px;
}

#card-section {
  padding-top: 2%;
}

.carousel .carousel-item>img {
    width: 100%;
/*    top: 7px;
*/    position: relative;
/*    top: -86px;
*/}






/*log-in page*/
#logInSection {
	border-style: solid;
	border-width: 1px;
	width: 50%;
	margin-top: 5%;

}




